<style>
    body{
        background-color:cornflowerblue;
    }

    
</style>
<div class="row">
    

    <div class="col-8" style="background-color:dodgerblue; border:2px solid">
        <div class="col-2"></div>
        <div class="col-8">
        <p>
            <input type="text" name="filtro" class="form-control" /> 
            <a class="btn btn-danger">Excluir</a>
        </p>
         <p>
                <input type="text" name="filtro" class="form-control" />
                <a class="btn btn-danger">Excluir</a>
        </p>
        <p>
                <input type="text" name="filtro" class="form-control" />
            <a class="btn btn-danger">Excluir</a>
        </p>
        <p>
                <input type="text" name="filtro" class="form-control" />
            <a class="btn btn-danger">Excluir</a>
        </p>
        <p>
                <input type="text" name="filtro" class="form-control" />
            <a class="btn btn-danger">Excluir</a>
        </p>
        </div>
    </div>

    <div class="col-4" style="background-color:dodgerblue; border:2px solid">
        <p>
            <input type="radio" name="filtro" /> Por Nome
        </p>
        <p>
            <input type="radio" name="filtro" /> Por Endereço
        </p>
        <p>
            <input type="radio" name="filtro" /> Por Cidade
        </p>
        <p>
            <input type="radio" name="filtro" /> Por Cep
        </p>
        <p>
            <input type="radio" name="filtro" /> Por Estado
        </p>
    </div>
</div>