@model List<WebApp_Tarde.Entidades.CategoriaEntidade>

<div class="card">
    <div class="card-header">
        Lista de Categorias
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Ativo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var categoria in Model)
                {
                    <tr>
                        <td>@categoria.Id</td>
                        <td>@categoria.Nome</td>
                        <td>
                            @if (@categoria.Ativo)
                            {
                                <input type="checkbox" readonly checked />
                            }else
                            {
                                <input type="checkbox" readonly />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>