@model List<WebApp_Tarde.Entidades.PermissaoEntidade>

<div class="card">
    <div class="card-header">
        Lista de Permissões
    </div>

    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descrição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var permissao in Model)
                {
                    <tr>
                        <td>@permissao.Id</td>
                        <td>@permissao.Descricao</td>
                        <td>
                            <a href="/permissao/editar/@permissao.Id" class="btn btn-warning">
                                Editar
                            </a>
                            <a href="/permissao/excluir/@permissao.Id" class="btn btn-danger">
                                Excluir
                            </a>
                           
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

   