@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Ferneko</td>
            <td>(16) 99134-0447 </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Contatinho</td>
            <td>(16) 99134-9999 </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Lucas</td>
            <td>(16) 99260-1618 </td>
        </tr>
    </tbody>
</table>